:root {

    --clr-primary: #43FFAF;

    --clr-background: #262A33;
    --clr-white: #fff;
    --clr-gray: #B1B1B1;

    --ff-primary: "Outfit", sans-serif;
}

body {
    height: 100vh;
    background-color: var(--clr-background);
    font-family: var(--ff-primary);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* global class & style*/

.container {
    max-width: 74.125rem;
    margin: 0 auto;
}


/* Style */

.header {
    padding: 3rem 2rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.header-logo__text {
    color: var(--clr-white);
    font-size: 2rem;
    font-weight: bold;
}

.header-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-score__link {
    color: var(--clr-white);
    text-decoration: none;
    font-weight: 600;
}

/* Main */

.main {
    flex-grow: 1;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}

.words-container {
    max-width: 57.6875rem;
    padding: 2rem;
    height: 25rem;
    border: 1px solid var(--clr-white);
    margin: 0 auto;
    display: flex;
    gap: .5rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

.word {
    display: flex;
    gap: .1rem;
    height: fit-content;
}

.main__restart-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.letter {
    color: var(--clr-gray);
    font-size: 1.8rem;
}

#wordInput {
    opacity: 0;
}