:root {

    --clr-primary: #43FFAF;

    --clr-background: #262A33;
    --clr-white: #fff;
    --clr-gray: #B1B1B1;

    --ff-primary: "Outfit", sans-serif;
}

body {
    height: 100vh;
    background-color: var(--clr-background);
    font-family: var(--ff-primary);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/* Style */

.header {
    padding: 3rem 2rem;
    position: fixed;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 74.125rem;
    margin: 0 auto;
}

.header-logo {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.header-logo__text {
    color: var(--clr-white);
    font-size: 2rem;
    font-weight: bold;
}

.header-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-score__link {
    color: var(--clr-white);
    text-decoration: none;
    font-weight: 600;
}

/* Main */

.main {
    flex-grow: 1;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2rem;
    width: fit-content;
    margin-inline: auto;
}

/* Options */

.options {
    padding: .3125rem .9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.625rem;
    align-self: flex-start;
    position: relative;
}



.options__number {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: .2s ease-in-out;
}

.options__number:hover {
    color: var(--clr-primary);
}

.option__number--active {
    color: var(--clr-primary);
}

.options-modal {
    color: var(--clr-background);
    position: absolute;
    max-width: 50%;
    display: flex;
    text-align: center;
    top: -20px;
    left: 30px;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    background-color: var(--clr-white);
    transition:  opacity 0.3s ease-in-out;
    opacity: 0;
}

.options-icon:hover .options-modal {
    opacity: 1;
}

.options-modal__triangle {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: inherit;
    bottom: -5px;
    right: 49%;
    transform: translate(50%, 50%);
    clip-path: polygon(24% 100%, 72% 100%, 100% 0, 0 0);
}

/* Words  */

.words-container {
    max-width: 57.6875rem;
    padding: 1rem 2rem;
    max-height: 15rem;
    border: 1px solid var(--clr-white);
    margin: 1rem 0 2rem 0;
    display: flex;
    row-gap: .8rem;
    column-gap: 1rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    transition: .3s;
    border-radius: 5px;
    user-select: none;
    
}

.word {
    display: flex;
    gap: .1rem;
    height: fit-content;
}

.main__restart-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.letter {
    color: var(--clr-gray);
    font-size: 2.5rem;
    cursor: default;
    position: relative;
    width: fit-content;
}

.words-container__input {
    opacity: 0;
    position: absolute;
    cursor: default;
}

/* Class */

.word--correct {
    color: white;
}


.letter--correct {
    color: var(--clr-white);
}

.letter--incorrect {
    color: brown;
}

.caret {
    position: absolute;
    height: 45px;
    width: 2px;
    background-color: var(--clr-primary);
    z-index: 999;
    transition: .2s;
}